<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobidev.androidrx">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.ListColoursActivity"
            android:label="@string/activity_list_colours_label" />

        <activity
            android:name=".ui.activities.ListCountiesActivity"
            android:label="@string/activity_list_counties_label" />

        <activity
            android:name=".ui.activities.ListCountiesFromServerActivity"
            android:label="@string/activity_list_counties_from_server_label" />

        <activity
            android:name=".ui.activities.ListCountiesFromServerUsingSinglesActivity"
            android:label="@string/activity_list_counties_from_server_using_singles_label" />
    </application>

</manifest>